h1 {
	text-align: center;
	font-size: 25pt;
}

.container {
	width: 720px;
	margin: 30px auto;
	font-size: 0;
	border: 3px solid black;
}

.container div {
	height: 45px;
	width: 45px;
	background-color: white;
	display: inline-block;
}

div.buttons {
	width: 300px;
	text-align: center;
	margin: 30px auto;
}

div.black
 {
	background-color: #000;
}